<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797503405765-aqos8fotk72fs22u65is7csarqm6cn5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797503405765-aqos8fotk72fs22u65is7csarqm6cn5c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>797503405765-609b6180c0aa28eivcpba8hoagtkve7o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAORSgIRyteHeja4IjXSmuvo6cQPpuiMmA</string>
	<key>GCM_SENDER_ID</key>
	<string>797503405765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.diilibrary</string>
	<key>PROJECT_ID</key>
	<string>dii-library</string>
	<key>STORAGE_BUCKET</key>
	<string>dii-library.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797503405765:ios:4cb9d95436dd6b9b607aac</string>
</dict>
</plist>